/*GLOBAL Properties*/

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: "Roboto", sans-serif;
  -moz-osx-font-smoothing: "Roboto", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  --primary: #4d2ec7;
  --heading-color: #282938;
  --bg-shade: #eee;
  --github: #e62872;
  --dark-blue: #1c1e53;
  --black: #000;
  --bg-shade: #fff;
}
.btn {
  font-family: "Roboto";
  display: inline-block;
  padding: 14px 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: backgound-color 0.5s;
  -webkit-trasition: backgound-color 0.5s;
  -moz-trasition: backgound-color 0.5s;
  -ms-trasition: backgound-color 0.5s;
  -o-trasition: backgound-color 0.5s;
}

.btn-outline-primary {
  color: var(--heading-color);
  background-color: var(--bg-shade);
  border: 3px solid var(--heading-color);
}

.btn-outline-primary:hover {
  color: var(--bg-shade);
  background-color: var(--heading-color);
}
.btn-primary {
  color: var(--bg-shade);
  background-color: var(--primary);
  border: 3px solid var(--primary);
  font-weight: 700;
}
.btn-primary:hover {
  color: var(--primary);
  background-color: var(--bg-shade);
  font-weight: 700;
  border: 3px solid var(--primary);
}

.btn-github {
  color: var(--bg-shade);
  background-color: var(--primary);
  border: var(--primary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.95);
  gap: 16px;
  font-weight: 600;
}

.btn-github:hover {
  color: var(--primary);
  background-color: var(--bg-shade);
}

/* Global Styles CSS Ends */

/* Main Headings */

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

/*Navbar Styles*/
img.navbar--logo {
  height: 50px;
  width: 50px;
}
img.navbar--logo:hover {
  cursor: pointer;
}

.contact {
  font-weight: 600;
}
/* Paragraphs Styles */

.text-lg {
  color: var(--dark-blue);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.text-md {
  color: var(--dark-blue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.text-sm {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

/* Section Titles */
/* Skills & About Me */

.section--title {
  color: var(--heading-color);
  font-size: 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

/* Portfolio, Contact Me */

.sub--title {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

/* Section Titles End*/

/* Navbar Styles Start */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 85.333px;
  background: var(--bg-shade);
  box-shadow: 0 5.33px 80px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar--items > ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 42.667px;
  text-decoration: none;
}

.navbar--items ul > li > a {
  text-decoration: none;
}

.navbar--content {
  color: var(--dark-blue);
  font-size: 21px;
  font-size: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.navbar--active-content {
  color: var(--primary);
  font-weight: 600;
  background-color: var(--bg-shade);
}
/* Navbar Styles Ends */

/* Hero Section Styles */

.hero--section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 133.333px 85.333px 133.333px;
  align-items: center;
  justify-content: center;
  gap: 32px;
  background-color: var(--bg-shade);
}

.hero--section--content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding-left: 60px;
}

.hero--section--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.hero--section--content-box > button {
  margin-top: 21.33px;
}

.hero--section--title {
  color: var(--heading-color);
  font-size: 74px;
  line-height: 90px;
  font-weight: 700;
  align-self: stretch;
}
.hero--section--title--color {
  color: var(--primary);
}

.hero--section--description {
  color: var(--dark-blue);
  font-style: 24px;
  font-weight: 400;
  line-height: 36px;
}

.hero--section--img {
  display: flex;
}

.hero--section--img > img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

span.hero--section--name .typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid var(--heading-color); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 3s steps(20, end), blink-caret 0.8s infinite;
  padding-right: 1px;
  margin-right: 5px;
  color: var(--primary);
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--primary);
  }
}

/* Hero Section Ends */

/*Skills Section Styles*/
.skills--section {
  display: flex;
  padding: 50px 85.33px 50px 85.33px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 106.667px;
}

.skills--section--heading {
  color: var(--heading-color);
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
}

.skills--section--container {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  gap: 42.667px;
  grid-template-columns: repeat(3, 1fr);
}

.skills--section--card {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  border-radius: 10px;
  background: var(--bg-shade);
  min-height: 250px;
  border-bottom: 4px solid var(--bg-shade);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skills--section--card:hover {
  border-bottom: 4px solid var(--heading-color);
}

.skills--section--card:hover .skills--section--description {
  color: var(--dark-blue);
}

.skills--section--img {
  display: flex;
  padding: 13.3px;
  justify-content: center;
  align-items: center;
  gap: 13.3px;
  border-radius: 7px;
  background-color: var(--bg-shade);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
}

.skills--section--card--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.skills--section--title {
  color: var(--heading-color);
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
}

.skills--section--description {
  color: var(--black);
  font-size: 21.3px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

/*Skills Style Ends*/

/* About Me */

.about--section {
  display: grid;
  padding: 133.3px 85.3px;
  align-items: center;
  gap: 100px;
  grid-template-columns: repeat(2, 1fr);
}

.about--section--img {
  display: grid;
  align-items: center;
  justify-items: center;
}

.about--section--img > img {
  object-fit: cover;
  border-radius: 50%;
  height: 400px;
  width: 400px;
}

/* About Me Styles End*/

/* Portfolio Styles*/
.portfolio--section {
  display: flex;
  padding: 50px 85px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
}

.portfolio--container-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.portfolio--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.3px;
}
.portfolio--section--container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42.6px;
  width: 100%;
}

.portfolio--section--card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  background: #fff;
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.portfolio--section--card--content {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}
.portfolio--section--title {
  color: var(--heading-color);
}
.portfolio--link {
  text-decoration: none;
  display: flex;
  gap: 16px;
  border-bottom: 1.33px solid var(--heading-color);
  padding-bottom: 10.6px;
  font-weight: 600;
}
.portfolio--section--card:hover path {
  stroke: var(--primary); /*#006b6a;*/
}
/* Portfolio Styles End*/
